/* These classes will be added to elements by Angular when validation happens. */
.username.ng-valid {
    background-color: lightgreen;
}

.username.ng-dirty.ng-invalid-required {
    background-color: red;
}

.username.ng-dirty.ng-invalid-minlength {
    background-color: lightpink;
}